<a href="https://colab.research.google.com/github/QemuUser/PythonTA/blob/main/portfolio_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
!pip install numpy pandas notebook nsepy
!pip install mplfinance
url = 'https://anaconda.org/conda-forge/libta-lib/0.4.0/download/linux-64/libta-lib-0.4.0-h166bdaf_1.tar.bz2'
!curl -L $url | tar xj -C /usr/lib/x86_64-linux-gnu/ lib --strip-components=1
url = 'https://anaconda.org/conda-forge/ta-lib/0.4.19/download/linux-64/ta-lib-0.4.19-py39hd257fcd_4.tar.bz2'
!curl -L $url | tar xj -C /usr/local/lib/python3.9/dist-packages/ lib/python3.9/site-packages/talib --strip-components=3
import talib


from datetime import date
from nsepy import get_history
import numpy as np
import pandas as pd
import pickle
import yfinance as yf
import mplfinance as mpf
import talib as ta
import matplotlib.pyplot as plt

In [2]:
def RSI(close,timePeriod):    
    rsi = ta.RSI(close,timePeriod)
    rsiSell = (rsi>70) & (rsi.shift(1)<=70)
    rsiBuy = (rsi<30) & (rsi.shift(1)>=30)
    return rsiSell,rsiBuy, rsi

In [3]:
def SMA(close,sPeriod,lPeriod):
    shortSMA = ta.SMA(close,sPeriod)
    longSMA = ta.SMA(close,lPeriod)
    smaSell = ((shortSMA <= longSMA) & (shortSMA.shift(1) >= longSMA.shift(1)))
    smaBuy = ((shortSMA >= longSMA) & (shortSMA.shift(1) <= longSMA.shift(1)))
    return smaSell,smaBuy,shortSMA,longSMA

In [17]:
market_colors = mpf.make_marketcolors(up='green', down='red',
                               edge='black',
                               wick={'up': 'blue', 'down': 'orange'},
                               volume='purple',
                               ohlc='black')
my_style = mpf.make_mpf_style(marketcolors=market_colors)
#mpf.plot(df, type='candle', style=my_style)

# Set the ticker symbol and timeframe
ticker = "HDFCBANK.NS"
start_date = "2021-01-01"
end_date = "2022-02-25"

# Fetch the stock data using yfinance
#data = yf.download(ticker, start=start_date, end=end_date)
data = yf.download(ticker, period="ytd", interval="1d")
data['Close'][-1]

df = yf.Ticker(ticker).history(period="ytd", interval="1d")
#df
plt.style.use('fivethirtyeight')
df['MA'] = ta.SMA(df['Close'],timeperiod=5)
df['RSI'] = ta.RSI(df['Close'], 14)
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
  display(df)
#df['MA']
print('{0} - {1}',
round(df['MA'][df.index[-1]], 2),
round(df['Close'][df.index[-1]], 2))



# Plot a candlestick chart with 10-day SMA and 20-day EMA
#mpf.plot(data, type="candle", mav=(10, 20), volume=True, style=my_style)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume,Dividends,Stock Splits,MA,RSI
Date,,,,,,,,,
2023-01-02 00:00:00+05:30,1627.000000,1639.750000,1618.550049,1628.699951,2190689,0.0,0.0,NaN,NaN
2023-01-03 00:00:00+05:30,1622.199951,1643.000000,1622.199951,1639.349976,4189015,0.0,0.0,NaN,NaN
2023-01-04 00:00:00+05:30,1635.000000,1645.750000,1607.000000,1610.050049,5175800,0.0,0.0,NaN,NaN
2023-01-05 00:00:00+05:30,1615.000000,1618.050049,1589.400024,1599.699951,5470718,0.0,0.0,NaN,NaN
2023-01-06 00:00:00+05:30,1602.000000,1609.099976,1578.199951,1594.400024,4546231,0.0,0.0,1614.439990,NaN
2023-01-09 00:00:00+05:30,1596.000000,1611.550049,1590.000000,1597.500000,5364670,0.0,0.0,1608.200000,NaN
2023-01-10 00:00:00+05:30,1600.000000,1600.000000,1565.000000,1568.300049,8185883,0.0,0.0,1593.990015,NaN
2023-01-11 00:00:00+05:30,1567.949951,1598.000000,1560.000000,1590.900024,7597899,0.0,0.0,1590.160010,NaN
2023-01-12 00:00:00+05:30,1587.800049,1603.900024,1584.150024,1599.400024,4625035,0.0,0.0,1590.100024,NaN
2023-01-13 00:00:00+05:30,1598.750000,1609.900024,1586.000000,1600.650024,4622273,0.0,0.0,1591.350024,NaN
2023-01-16 00:00:00+05:30,1615.000000,1621.300049,1580.300049,1585.300049,7374047,0.0,0.0,1588.910034,NaN
2023-01-17 00:00:00+05:30,1589.800049,1611.000000,1577.500000,1608.900024,5393177,0.0,0.0,1597.030029,NaN
2023-01-18 00:00:00+05:30,1605.000000,1641.599976,1599.699951,1637.300049,9545321,0.0,0.0,1606.310034,NaN
2023-01-19 00:00:00+05:30,1637.000000,1650.000000,1633.000000,1644.099976,5586081,0.0,0.0,1615.250024,NaN
2023-01-20 00:00:00+05:30,1644.099976,1669.000000,1643.400024,1660.949951,9421702,0.0,0.0,1627.310010,57.633145
2023-01-23 00:00:00+05:30,1666.250000,1682.599976,1661.400024,1673.099976,7722200,0.0,0.0,1644.869995,60.104256
2023-01-24 00:00:00+05:30,1675.050049,1702.400024,1675.000000,1695.500000,12491970,0.0,0.0,1662.189990,64.244832
2023-01-25 00:00:00+05:30,1691.400024,1692.949951,1645.300049,1648.650024,7352071,0.0,0.0,1664.459985,52.072172
2023-01-27 00:00:00+05:30,1632.000000,1637.000000,1589.949951,1615.800049,17589974,0.0,0.0,1658.800000,45.554547
2023-01-30 00:00:00+05:30,1595.000000,1625.300049,1582.000000,1614.150024,9256411,0.0,0.0,1649.440015,45.248192
2023-01-31 00:00:00+05:30,1619.699951,1622.699951,1595.000000,1603.500000,9298122,0.0,0.0,1635.520020,43.227508
2023-02-01 00:00:00+05:30,1624.000000,1665.000000,1606.000000,1627.550049,8651395,0.0,0.0,1621.930029,48.789220
2023-02-02 00:00:00+05:30,1608.099976,1624.500000,1588.750000,1603.349976,8748553,0.0,0.0,1612.870020,44.106887
2023-02-03 00:00:00+05:30,1611.000000,1660.500000,1607.000000,1658.800049,7205550,0.0,0.0,1621.470020,54.808821
2023-02-06 00:00:00+05:30,1660.000000,1669.400024,1646.199951,1651.750000,5583836,0.0,0.0,1628.990015,53.408621
2023-02-07 00:00:00+05:30,1659.400024,1664.900024,1632.599976,1654.199951,5132294,0.0,0.0,1639.130005,53.849849
2023-02-08 00:00:00+05:30,1654.250000,1668.199951,1650.000000,1654.000000,4222413,0.0,0.0,1644.419995,53.805064
2023-02-09 00:00:00+05:30,1660.000000,1661.650024,1635.550049,1650.550049,5888668,0.0,0.0,1653.860010,52.986253
2023-02-10 00:00:00+05:30,1648.800049,1658.500000,1642.199951,1657.099976,4086058,0.0,0.0,1653.519995,54.404940
2023-02-13 00:00:00+05:30,1655.000000,1661.750000,1644.550049,1658.349976,2868472,0.0,0.0,1654.839990,54.685970
2023-02-14 00:00:00+05:30,1665.000000,1677.500000,1657.949951,1673.699951,5454296,0.0,0.0,1658.739990,58.101192
2023-02-15 00:00:00+05:30,1678.000000,1678.000000,1656.750000,1670.300049,5719356,0.0,0.0,1662.000000,57.075123
2023-02-16 00:00:00+05:30,1673.199951,1681.900024,1661.000000,1664.250000,4031250,0.0,0.0,1664.739990,55.206762
2023-02-17 00:00:00+05:30,1661.000000,1668.150024,1642.949951,1655.900024,4478135,0.0,0.0,1664.500000,52.645318
2023-02-20 00:00:00+05:30,1660.000000,1669.449951,1634.800049,1640.349976,4043353,0.0,0.0,1660.900000,48.163616
2023-02-21 00:00:00+05:30,1640.000000,1662.349976,1634.000000,1646.500000,6194648,0.0,0.0,1655.460010,49.977375
2023-02-22 00:00:00+05:30,1639.000000,1641.949951,1609.050049,1614.199951,5179551,0.0,0.0,1644.239990,41.720666
2023-02-23 00:00:00+05:30,1613.000000,1618.849976,1592.099976,1603.250000,13941005,0.0,0.0,1632.039990,39.347416
2023-02-24 00:00:00+05:30,1617.900024,1617.900024,1585.199951,1588.949951,8530870,0.0,0.0,1618.649976,36.432717
2023-02-27 00:00:00+05:30,1585.900024,1599.000000,1577.300049,1592.900024,7156486,0.0,0.0,1609.159985,37.803275
2023-02-28 00:00:00+05:30,1592.000000,1605.300049,1588.699951,1599.599976,9496996,0.0,0.0,1599.779980,40.159987
2023-03-01 00:00:00+05:30,1612.000000,1613.000000,1595.750000,1598.050049,7068628,0.0,0.0,1596.550000,39.784430
2023-03-02 00:00:00+05:30,1594.000000,1605.949951,1582.000000,1584.449951,8695907,0.0,0.0,1592.789990,36.554184
2023-03-03 00:00:00+05:30,1596.000000,1620.000000,1588.000000,1615.900024,7493117,0.0,0.0,1598.180005,47.225354
2023-03-06 00:00:00+05:30,1620.000000,1639.449951,1618.050049,1627.300049,13502355,0.0,0.0,1605.060010,50.476870
2023-03-08 00:00:00+05:30,1620.000000,1639.500000,1620.000000,1630.550049,10049887,0.0,0.0,1611.250024,51.396245
2023-03-09 00:00:00+05:30,1629.949951,1645.949951,1627.000000,1630.699951,10350083,0.0,0.0,1617.780005,51.441023
2023-03-10 00:00:00+05:30,1610.449951,1613.750000,1585.000000,1588.650024,13693500,0.0,0.0,1618.620020,40.241294
2023-03-13 00:00:00+05:30,1587.900024,1603.800049,1564.949951,1568.550049,13221775,0.0,0.0,1609.150024,36.185739
2023-03-14 00:00:00+05:30,1570.250000,1583.599976,1559.300049,1564.349976,16592806,0.0,0.0,1596.560010,35.383281
2023-03-15 00:00:00+05:30,1578.000000,1582.900024,1536.599976,1541.900024,18632377,0.0,0.0,1578.830005,31.377832
2023-03-16 00:00:00+05:30,1539.000000,1559.099976,1532.050049,1551.900024,10876671,0.0,0.0,1563.070020,34.912279
2023-03-17 00:00:00+05:30,1557.500000,1579.199951,1540.000000,1572.650024,11475438,0.0,0.0,1559.870020,41.630382
2023-03-20 00:00:00+05:30,1567.949951,1568.099976,1545.400024,1561.750000,13251557,0.0,0.0,1558.510010,39.333672
2023-03-21 00:00:00+05:30,1571.949951,1582.500000,1556.199951,1579.449951,16525247,0.0,0.0,1561.530005,44.671604
2023-03-22 00:00:00+05:30,1584.000000,1586.050049,1565.300049,1575.800049,7088662,0.0,0.0,1568.310010,43.815461
2023-03-23 00:00:00+05:30,1567.750000,1590.349976,1558.550049,1563.150024,14182089,0.0,0.0,1570.560010,40.890423
2023-03-24 00:00:00+05:30,1560.000000,1573.900024,1554.949951,1560.650024,15738874,0.0,0.0,1568.160010,40.317585
2023-03-27 00:00:00+05:30,1562.199951,1579.449951,1558.900024,1567.449951,15936003,0.0,0.0,1569.300000,42.670142
2023-03-28 00:00:00+05:30,1565.699951,1582.900024,1564.099976,1580.199951,19638151,0.0,0.0,1569.450000,46.896871
2023-03-29 00:00:00+05:30,1584.000000,1602.000000,1581.900024,1587.800049,19881806,0.0,0.0,1571.850000,49.296559
2023-03-31 00:00:00+05:30,1595.599976,1612.949951,1592.400024,1609.550049,17355614,0.0,0.0,1581.130005,55.494821
2023-04-03 00:00:00+05:30,1607.550049,1615.699951,1602.750000,1610.550049,20012699,0.0,0.0,1591.110010,55.762582
2023-04-05 00:00:00+05:30,1618.599976,1656.000000,1616.000000,1653.750000,21682696,0.0,0.0,1608.370020,65.436854
2023-04-06 00:00:00+05:30,1648.550049,1669.199951,1647.099976,1666.349976,22318672,0.0,0.0,1625.600024,67.658428
2023-04-10 00:00:00+05:30,1663.250000,1671.000000,1654.000000,1658.449951,15906643,0.0,0.0,1639.730005,64.844183
2023-04-11 00:00:00+05:30,1659.000000,1669.400024,1651.099976,1663.300049,21180771,0.0,0.0,1650.480005,65.785123
2023-04-12 00:00:00+05:30,1668.000000,1688.199951,1667.800049,1684.900024,13477752,0.0,0.0,1665.350000,69.677517
2023-04-13 00:00:00+05:30,1688.300049,1697.050049,1678.150024,1692.449951,17665043,0.0,0.0,1673.089990,70.922691

{0} - {1} 1673.09 1692.45

In [16]:
sell, buy, rsi = RSI(data['Close'], 14)
print( 'Sell = {0} Buy = {1} RSI= {2}', sell, buy, rsi)

with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
  display(rsi)

#with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
#  display(df['Close'])

#with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
#  display(data['Close'])

Sell = {0} Buy = {1} RSI= {2} Date
2023-01-02    False
2023-01-03    False
2023-01-04    False
2023-01-05    False
2023-01-06    False
              ...
2023-04-06    False
2023-04-10    False
2023-04-11    False
2023-04-12    False
2023-04-13     True
Length: 69, dtype: bool Date
2023-01-02    False
2023-01-03    False
2023-01-04    False
2023-01-05    False
2023-01-06    False
              ...
2023-04-06    False
2023-04-10    False
2023-04-11    False
2023-04-12    False
2023-04-13    False
Length: 69, dtype: bool Date
2023-01-02          NaN
2023-01-03          NaN
2023-01-04          NaN
2023-01-05          NaN
2023-01-06          NaN
                ...
2023-04-06    67.658428
2023-04-10    64.844183
2023-04-11    65.785123
2023-04-12    69.677517
2023-04-13    70.922691
Length: 69, dtype: float64

Date
2023-01-02          NaN
2023-01-03          NaN
2023-01-04          NaN
2023-01-05          NaN
2023-01-06          NaN
2023-01-09          NaN
2023-01-10          NaN
2023-01-11          NaN
2023-01-12          NaN
2023-01-13          NaN
2023-01-16          NaN
2023-01-17          NaN
2023-01-18          NaN
2023-01-19          NaN
2023-01-20    57.633145
2023-01-23    60.104256
2023-01-24    64.244832
2023-01-25    52.072172
2023-01-27    45.554547
2023-01-30    45.248192
2023-01-31    43.227508
2023-02-01    48.789220
2023-02-02    44.106887
2023-02-03    54.808821
2023-02-06    53.408621
2023-02-07    53.849849
2023-02-08    53.805064
2023-02-09    52.986253
2023-02-10    54.404940
2023-02-13    54.685970
2023-02-14    58.101192
2023-02-15    57.075123
2023-02-16    55.206762
2023-02-17    52.645318
2023-02-20    48.163616
2023-02-21    49.977375
2023-02-22    41.720666
2023-02-23    39.347416
2023-02-24    36.432717
2023-02-27    37.803275
2023-02-28    40.159987
2023-03-01    39.784430
2023-03-02    36.554184
2023-03-03    47.225354
2023-03-06    50.476870
2023-03-08    51.396245
2023-03-09    51.441023
2023-03-10    40.241294
2023-03-13    36.185739
2023-03-14    35.383281
2023-03-15    31.377832
2023-03-16    34.912279
2023-03-17    41.630382
2023-03-20    39.333672
2023-03-21    44.671604
2023-03-22    43.815461
2023-03-23    40.890423
2023-03-24    40.317585
2023-03-27    42.670142
2023-03-28    46.896871
2023-03-29    49.296559
2023-03-31    55.494821
2023-04-03    55.762582
2023-04-05    65.436854
2023-04-06    67.658428
2023-04-10    64.844183
2023-04-11    65.785123
2023-04-12    69.677517
2023-04-13    70.922691
dtype: float64

In [ ]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

<div class="markdown-google-sans">

## More Resources

### Working with Notebooks in Colab

</div>

- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>

<div class="markdown-google-sans">

<a name="working-with-data"></a>
### Working with Data
</div>

- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb)
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

<div class="markdown-google-sans">

### Machine Learning Crash Course

<div>

These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas DataFrame](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/cc/exercises/pandas_dataframe_ultraquick_tutorial.ipynb)
- [Linear regression with tf.keras using synthetic data](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/cc/exercises/linear_regression_with_synthetic_data.ipynb)

<div class="markdown-google-sans">

<a name="using-accelerated-hardware"></a>
### Using Accelerated Hardware
</div>

- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

<div class="markdown-google-sans">

<a name="machine-learning-examples"></a>

### Featured examples

</div>

- [NeMo Voice Swap](https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/VoiceSwapSample.ipynb): Use Nvidia's NeMo conversational AI Toolkit to swap a voice in an audio fragment with a computer generated one.

- [Retraining an Image Classifier](https://tensorflow.org/hub/tutorials/tf2_image_retraining): Build a Keras model on top of a pre-trained image classifier to distinguish flowers.
- [Text Classification](https://tensorflow.org/hub/tutorials/tf2_text_classification): Classify IMDB movie reviews as either *positive* or *negative*.
- [Style Transfer](https://tensorflow.org/hub/tutorials/tf2_arbitrary_image_stylization): Use deep learning to transfer style between images.
- [Multilingual Universal Sentence Encoder Q&A](https://tensorflow.org/hub/tutorials/retrieval_with_tf_hub_universal_encoder_qa): Use a machine learning model to answer questions from the SQuAD dataset.
- [Video Interpolation](https://tensorflow.org/hub/tutorials/tweening_conv3d): Predict what happened in a video between the first and the last frame.